.review-body{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.review{
    max-width: 400px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.review-star {
    border: none;
    right:10px;
    background-color: white;
    color:rgb(141, 207, 148);
    /* float: left; */
    /* margin-left:10px; */
}

.review-starClick {
    border: none;
    right:10px;
    background-color: white;
    color:rgb(141, 207, 148);
    /* margin-left:10px; */
}

.review-content{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    max-width: 400px;
}

.review-reviewBox{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.review-box{
    margin:3px;
}

.review-user{
    text-align: left;
    margin:1px;
    padding: 2px;
}

.review-provider{
    /* border-bottom: 1.5px solid #69876b; */
    border-radius: 4px;
    text-align: left;
    padding: 5px;
    background-color: #d1e4d38f;
}

.review-name{
    font-size: 18px;
    font-weight: 600;
}

.review-time{
    font-size: 10px;
    font-weight: 100;
    color:grey;
    margin-left:10px;
}

.review-content{
    font-size:14px;
    margin-bottom:10px;
}

.review-textarea{
    width: 400px;  /* 너비 고정 */
    height: 200px; /* 높이 고정 */
    resize: none;
}

.review-button{
    border:solid 1px #69876b;
    border-radius: 3px;
    background-color: #69876b;
    color: white;
    margin-left:1px;
}

.review-button-left{
    display: flex;
    justify-content: right;
    margin-bottom: 3px;
}

.review-title{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

.review-score{
    text-align: right;
    font-size: 18px;
    font-weight: 700;
}

.review-star-score{
    color:rgb(141, 207, 148);
}




/* WriteReview.js 코드 */
.portfolio-button:disabled{
    border:solid;
    border-color:rgb(194, 193, 193);
    border-width: 2px;
    background-color: rgb(194, 193, 193);
    color: white;
    border-radius:5px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.writeReview-score{
    font-size: 15px;
    font-weight: 600;
}